/* Global configuration */
:root{
    --veryLightGreen: #C7C7C7;
    --textImputField: #F7F7F7;
    --hospitalGreeb: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0%;
    background-color: var(--white);
}

/* Create New Password */
.login{
    display: grid;
    width: 100%;
    height: 100vh;
    place-items: center;
}
.formContainer{
    display: grid;
    grid-template-rows: auto 1fr auto;

}
.logo{
    width: 200px;
    margin-bottom: 48px;
    justify-self: center;
    /* display: none; */

}
.title{
    font-size: var(--lg);
    text-align: center;
}
.subtitle{
    font-size: var(--md);
    color: var(--veryLightGreen);
    font-weight: 300;
    margin-top: 0%;
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;

}
.passwordLabel{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}
.input{
    background-color: var(--textImputField);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 20px;
}
.primaryButton{
    background-color: var(--hospitalGreeb);
    border: none;
    border-radius: 8px;
    color: var(--dark);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.changePasswordButton{
    margin-top: 30px;
    margin-bottom: 30px;
}