/* Global configuration */
:root {
    --veryLightGreen: #C7C7C7;
    --textImputField: #F7F7F7;
    --hospitalGreeb: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0%;
    background-color: var(--white);
}
.mobileMenu {
    width: 250px;
    height: auto;
    border: 1px solid var(--veryLightGreen);
    border-radius: 8px;
}
.categories, .accountSettings, .bottomSide{
    display: flex;
    flex-direction: column;
    margin: 10px 0 30px -15px;
}
li a{
    text-decoration: none;
}
.categories a, .accountSettings a {
    font-size: var(--md);
    color: var(--black);
    font-weight: bold;
    margin-bottom: 20px;
}
.bottomSide a{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 5px;
}
.bottomSide :nth-child(1){
    color: var(--veryLightGreen);
}
.bottomSide :nth-child(2){
    color: var(--hospitalGreeb);
}

