/* Global configuration */
:root {
    --veryLightGreen: #C7C7C7;
    --textImputField: #F7F7F7;
    --hospitalGreeb: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0%;
    background-color: var(--white);
}
nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    border-bottom: 1px solid var(--veryLightGreen);
}
.menu {
    display: none;
}
.logo {
    width: 120px;
}
.navBarLeft {
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.navBarLeft ul, .navBarRight ul {
    margin: 0;
}
.navBarLeft ul a {
    text-decoration: none;
    color: var(--veryLightGreen);
    padding: 0;
    margin-top: 25px;
    margin-left: 20px;
    border: 1px solid var(--white);
}
.navBarLeft ul a:hover {
    border: 1px solid var(--hospitalGreeb);
    color: var(--hospitalGreeb);
    border-radius: 10px;
    padding: 5px;

}
.navBarRight {
    display: flex;
    align-items: center;
    margin-right: 30px;
    height: 30px;
}
.navBarRight ul span {
    font-size: var(--sm);
    color: var(--veryLightGreen);
    margin-right: 15px;
}
.navBarRight ul div {
    width: 18px;
    height: 18px;
    background-color: var(--hospitalGreeb);
    border-radius: 50%;
    font-size: var(--sm);
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 18px;
}
.shoppingCart {
    position: relative;
}

@media (max-width: 640px) {
    .menu {
        display: block;
    }
    .options {
        display: none;
    }
    .email {
        display: none;
    }

}
